.products {
    text-align: center;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
}
.product-card {
    margin: 20px 0;
}

.product-grid-v-lg .product-card {
    width: 30%;
}
.product-grid-h-lg .product-card {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
}
.product-line-h-lg .product-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
}
.product-grid-v-sm .product-card {
    width: 25%;
    padding: 0 2.5%;
}

.content-width-small .product-grid-v-lg .product-card {
    width: 48%;
}
.content-width-small .product-grid-h-lg .product-card {
    width: 100%;
}
.content-width-small .product-grid-v-sm .product-card {
    width: 30%;
}

.product-grid-v-lg .product-card .image-wrap {
    width: 100%;
    padding-top: 70%;
}
.product-grid-h-lg .product-card .image-wrap {
    width: 35%;
    padding-top: 38.5%;
}
.product-line-h-lg .product-card .image-wrap {
    width: 30%;
    padding-top: 20%;
}
.product-grid-v-sm .product-card .image-wrap {
    width: 100%;
    padding-top: 75%;
}

.product-card .product-info {
    position: relative;
}
.product-grid-h-lg .product-info {
    width: 60%;
}
.product-line-h-lg .product-info {
    width: 60%;
    padding-bottom: 3em;
}
.product-grid-v-sm .product-info {
    padding-bottom: 1em;
    border-bottom: 1px dashed #333333;
}

.product-grid-v-lg .product-card h3, .product-grid-v-sm .product-card h3 {
    margin: 15px 0 10px;
}
.product-grid-v-sm h3 {
    font-family: 'Century Gothic Regular', sans-serif;
    font-size: 1.2em;
}

.product-card h3 a {
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
.product-card h3 a:hover {
    color: #888888;
}
.product-line-h-lg .product-card h3 a:hover {
    text-decoration: underline;
}
.product-grid-h-lg .product-card h3 a {
    white-space: normal;
    line-height: 1.1;
    max-height: 2.2em;
}

.product-grid-v-lg .product-card h3 a {
    text-transform: none;
}

.product-card .product-text {
    font-size: 1.1em;
    overflow: hidden;
    max-height: 7em;
}

.product-line-h-lg .product-info .button {
    position: absolute;
    list-style-position: outside;
    left: 0;
    bottom: 0;
}

@media (max-width: 1280px) {
    .product-grid-v-lg .product-card {
        width: 48%;
    }
    .product-grid-h-lg .product-card {
        width: 100%;
    }
    .product-grid-v-sm .product-card {
        width: 30%;
    }
}

@media (max-width: 980px) {
    .product-grid-v-sm h3 {
        font-size: 1em;
    }
    .product-grid-v-sm .product-card {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .product-grid-v-lg .product-card, .product-grid-v-sm .product-card {
        width: 100%;
    }
    .product-grid-h-lg .product-card, .product-line-h-lg .product-card {
        flex-wrap: wrap;
        text-align: center;
    }
    .product-grid-h-lg .product-info, .product-line-h-lg .product-info {
        width: 100%;
    }
    .product-grid-h-lg .product-card .image-wrap {
        width: 100%;
        padding-top: 110%;
    }
    .product-line-h-lg .product-card .image-wrap {
        width: 100%;
        padding-top: 65%;
    }
    .product-line-h-lg .product-info {
        padding-bottom: 0;
    }
    .product-line-h-lg .product-info .button {
        position: static;
        margin-top: 20px;
    }
    .product-grid-h-lg .product-card h3, .product-line-h-lg .product-card h3 {
        margin: 15px 0 10px;
    }
}