/**********************************************************************************************************************
********** general
***********************************************************************************************************************/
@import url('../general/fonts.css');
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    font-family: 'Century Gothic Regular', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
}
a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
header[role='banner'] {
    display: block;
    width: 100%;
    flex: 0 0 auto;
}
.wrapper > .wrapper-inner {
    flex: 1 0 auto;
}
aside {
    display: block;
    width: 21%;
}
.sidebar-before {
    float: left;
    margin-right: 2%;
}
.sidebar-after {
    float: right;
}
.content-block {
    position: relative;
    float: left;
}
.col-2 .content-block {
    width: 77%;
}
.col-3 .content-block {
    width: 54%;
}
section {
    display: block;
    width: 100%;
    padding: 3% 0;
}

footer[role='contentinfo'] {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    background: #f8f8f8;
}

footer[role='contentinfo'] .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 1%;
}

.wrapper-inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}
.wrapper.content-width-small .wrapper-inner {
    max-width: 980px;
}
.wrapper.content-width-medium .wrapper-inner {
    max-width: 1280px;
}

h1 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}
h2 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: left;
}
h3 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.5em;
}
h4 {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.3em;
    line-height: 1.2;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-appearance: none;
}

a:hover {
    text-decoration: none;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input:focus, textarea:focus {
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
.image-wrap img {
    width: auto;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

label {
    display: block;
}
label input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 15px;
}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.mt-50 {margin-top: 50px;}
.mt-45 {margin-top: 45px;}
.mt-40 {margin-top: 40px;}
.mt-35 {margin-top: 35px;}
.mt-30 {margin-top: 30px;}
.mt-25 {margin-top: 25px;}
.mt-20 {margin-top: 20px;}
.mt-15 {margin-top: 15px;}
.mt-10 {margin-top: 10px;}
.mt-5 {margin-top: 5px;}
.no-margin {margin: 0!important;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-25 {margin-bottom: 25px;}
.mb-30 {margin-bottom: 30px;}
.mb-35 {margin-bottom: 35px;}
.mb-40 {margin-bottom: 40px;}
.mb-45 {margin-bottom: 45px;}
.mb-50 {margin-bottom: 50px;}

.column-left {
    float: left;
}
.column-right {
    float: right;
}

@media (max-width: 1280px) {
    aside {
        padding: 0 10px;
    }
    .col-2 .sidebar-before, .col-2 .sidebar-after, .col-3 .sidebar-before, .col-3 .sidebar-after {
        width: 100%;
        margin: 0;
        max-width: none;
        float: none;
    }
    .wrapper-inner.col-2 .content-block, .wrapper-inner.col-3 .content-block {
        padding: 0 10px;
        width: 100%;
    }
}

@media (max-width: 980px) {
    h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .sidebar-before, .sidebar-after {
        width: 100%;
        margin: 0;
        max-width: none;
        float: none;
    }
    .wrapper-inner .content-block {
        padding: 0 10px;
        width: 100%;
    }
    footer[role='contentinfo'] .wrapper-inner {
        display: block;
        padding: 10px 1%;
    }
    .content-block.left-sidebar, .content-block.right-sidebar  {
        margin-left: 0;
        margin-right: 0;
    }
    section {
        padding: 30px 0;
    }
}

@media (max-width: 480px) {
    section {
        padding: 50px 0;
    }
}


/**********************************************************************************************************************
********** button
***********************************************************************************************************************/

.button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    border: none;
}
.button-form {
    display: inline-block;
    padding: 3px 10px 5px;
    background: #d8a00a;
    border: none;
    -webkit-box-shadow: inset 0 0 1px 0 #d8a00a;
    -moz-box-shadow: inset 0 0 1px 0 #d8a00a;
    box-shadow: inset 0 0 1px 0 #d8a00a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: lowercase;
    color: #ffffff;
}
.button-form:hover {
    color: #d8a00a;
    background: #ffffff;
}
.button-form:active {
    padding: 5px 10px 3px;
}
.button-round {
    padding: 0.6em 3em;
    font-size: 1.5em;
    border-radius: 20px;
    background: #b2d179;
    text-transform: lowercase;
}
.button-square {
    color: #ffffff;
    padding: 0.4em 3em;
    font-size: 1.2em;
    background: #96c24e;
    text-transform: uppercase;
}
.button:hover {
    -webkit-box-shadow: inset 0 0 4em 2px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 4em 2px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 4em 2px rgba(255, 255, 255, 0.3);
}
.button:active {
    padding: 0.7em 3em 0.5em;
}

/**********************************************************************************************************************
********** header nav
***********************************************************************************************************************/

.header-nav {
    background: #d8a00a;
}

nav, nav ul {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0;
}
nav .fa-bars {
    display: none;
    font-size: 20px;
    color: #ffffff;
    margin: 5px 0;
    cursor: pointer;
}
nav .fa-bars.active {
    color: #000000;
}
.header-nav-left nav ul {
    text-align: left;
}
.header-nav-right nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 5px 10px 7px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;
    border: 2px solid transparent;
}
nav ul li a:hover {
    background: #964B00;
}
nav ul li a:active {
    border: 2px solid #d8a00a
}
@media (max-width: 768px) {
    nav .fa-bars {
        display: inline-block;
    }
    nav ul {
        display: none;
        padding-bottom: 15px;
    }
    nav ul li {
        display: block;
    }
}

/**********************************************************************************************************************
********** header info
***********************************************************************************************************************/

.header-info {
    background: #fff3f3;
    padding: 0 1%;
    text-align: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;
    border: 1px solid transparent;
}
.header-info:after {
    content: '';
    display: inline-block;
    width: 100%;
}
@media (max-width: 480px) {
    .header-info {
        text-align: center;
        -ms-text-align-last: center;
        text-align-last: center;
    }
    .header-info:after {
        display: none;
    }
}

.header-logo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    min-width: 120px;
    margin: 10px 0 -10px;
}
@media (max-width: 640px) {
    .header-logo {
        display: block;
        margin: 20px auto 10px;
    }
}

.header-info .form-search {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 -10px;
    width: 30%;
    min-width: 200px;
    padding: 3px;
    border: 1px solid #888888;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
}
.header-info .form-search label {
    width: calc(100% - 27px);
    height: 27px;
    float: left;
}
.header-info .form-search button[type='submit'] {
    display: block;
    width: 27px;
    height: 27px;
    background: #ff7e21;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px 0 #ff7e21;
    -moz-box-shadow: inset 0 0 1px 0 #ff7e21;
    box-shadow: inset 0 0 1px 0 #ff7e21;
    -ms-text-align-last: center;
    text-align-last: center;
    color: #ffffff;
    font-size: 1.5em;
    float: left;
}
.header-info .form-search button[type='submit']:hover {
    background: #ffffff;
}
.header-info .form-search button[type='submit'] i {
    display: block;
    width: 27px;
    height: 27px;
    color: inherit;
    font-size: inherit;
    line-height: 27px;
}
.header-info .form-search button[type='submit']:hover i {
    color: #ff7e21;
}
@media (max-width: 980px) {
    .header-info .form-search {
        width: 100%;
        float: right;
        margin-top: 30px;
    }
}
@media (max-width: 640px) {
    .header-info .form-search {
        float: none;
        margin: 10px 0;
    }
}

.header-info .address {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 -10px;
    padding: 0 5px;
    text-align: left;
    -ms-text-align-last: left;
    text-align-last: left;
}
.header-info .address .city-name {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.1em;
    color: #d8a00a;
    font-weight: 600;
}
.header-info .address p {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9em;
}
@media (max-width: 480px) {
    .header-info .address {
        margin: 10px 0 20px;
    }
}

.header-info .separator {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 70px;
    border-left: 1px solid #888888;
    margin: 10px 0 -10px;
}
@media (max-width: 980px) {
    .header-info .separator {
        display: none;
    }
}

.header-info .callback {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -ms-text-align-last: center;
    text-align-last: center;
    margin: 10px 0 -10px;
}

.header-info .callback a {
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    letter-spacing: 1px;
    color: #333333;
    font-family: 'Century Gothic Bold', sans-serif;
    font-weight: 600;
    margin: 0 0 10px;
}

@media (max-width: 980px) {
    .header-info .callback a {
        margin-bottom: 5px;
    }
}
@media (max-width: 480px) {
    .header-info .callback {
        margin: 10px 0 20px;
    }
}

/**********************************************************************************************************************
********** footer
***********************************************************************************************************************/
.footer-element {
    display: block;
    width: 30%;
}

.footer-logo {
    display: block;
    width: 200px;
    margin-bottom: 10px;
}

.footer-title {
    display: block;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}
.footer-title:before, .footer-title:after {
    content: '';
    display: block;
    height: 1px;
    background: #52ac62;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.footer-title:after {
    background: #333333;
    left: 40%;
    z-index: 2;
}
.footer-element ul li {
    list-style: none;
    margin-bottom: 5px;
}
.footer-element ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: #333333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
}

.footer-element p {
    margin: 5px 0;
}
.footer-element a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.footer-element .footer-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 5px;
}
@media (max-width: 768px) {
    .footer-element {
        width: 100%;
        margin: 15px 0;
    }
    .footer-title {
        max-width: 300px;
    }
}

/**********************************************************************************************************************
********** megamenu
***********************************************************************************************************************/

.megamenu {
    background: #0075C9;
}
.megamenu .sub-categories, .megamenu .links {
    display: none;
}
.megamenu .sub-categories {
    z-index: 10;
}

.megamenu-wrap .burger {
    display: none;
}

.megamenu li {
    display: block;
    width: 100%;
    list-style: none;
    position: relative;
}
.megamenu > li:first-child a {
    border-top: 1px solid transparent;
}
.megamenu > li > a, .sub-categories > li > a, .sub-categories .links li a {
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 40px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.megamenu > li:last-child > a {
    border-bottom: none;
}
.megamenu > li > .fa-caret-right, .megamenu .sub-categories > li .fa-caret-right {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 14px;
    color: #fd7e07;
    line-height: 50px;
    text-align: center;
}

.megamenu i {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 28px;
    margin-right: 10px;
}

.megamenu > li > a:before {
    content: '';
    display: block;
    width: 7px;
    background: #fd7e07;
    position: absolute;
    left: 0;
    top: 26px;
    bottom: 26px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.megamenu > li > a:hover {
    color: #000000;
    background: #ffffff;
}
.megamenu > li > a:hover i, .megamenu .sub-categories > li > a:hover i {
    color: #fd7e07;
}
.megamenu > li > a:hover:after {
    border-left: 5px solid #000000;
}
.megamenu > li > a:hover:before {
    top: 1px;
    bottom: 1px;
}

.megamenu .sub-categories, .megamenu .sub-categories .links {
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid #d7d7d7;
    border-left: none;
}
.megamenu .sub-categories.to-top, .megamenu .sub-categories .links.to-top {
    top: auto;
    bottom: 0;
}
.megamenu .sub-categories > li > a {
    background: #ffffff;
    border: 1px solid transparent;
    color: #000000;
}
.megamenu .sub-categories > li > a i {
    color: #818181;
}
.megamenu .sub-categories > li > a:after {
    border-left: 5px solid #000000;
}

.megamenu .sub-categories > li > a:hover {
    border-right: 1px solid transparent;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.megamenu .sub-categories > li:first-child > a:hover {
    border-top: 1px solid transparent;
}
.megamenu .sub-categories > li:last-child > a:hover {
    border-bottom: 1px solid transparent;
}
.megamenu .sub-categories > li > a:hover:after {
    display: none;
}
.megamenu .sub-categories > li:hover:before {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    background: #ffffff;
    z-index: 1;
}

.megamenu .sub-categories > li .links {
    left: calc(100% + 1px);
}
.megamenu .sub-categories > li .links {
    background: #ffffff;
    outline: 1px solid #d7d7d7;
    border: none;
}
.sub-categories .links li {
    padding-left: 35px;
}
.sub-categories .links li a {
    display: block;
    width: 100%;

    padding-left: 0;
    border-top: 1px solid #d7d7d7;
    color: #000000;
}
.sub-categories .links li a:hover {
    color: #818181;
}
.sub-categories .links li:first-child a {
    border-top: none;
}

@media (max-width: 1280px) {

    .megamenu-wrap .burger {
        display: block;
        padding: 5px 0 5px 20px;
        font-family: 'Century Gothic Bold', sans-serif;
        font-size: 21px;
        text-transform: uppercase;
        color: #0075C9;
    }
    .megamenu-wrap .burger i {
        color: inherit;
        margin-right: 10px;
    }
    .megamenu-wrap .burger.active {
        color: #ffffff;
        background: #0075C9;
    }
    .megamenu {
        display: none;
    }
    .megamenu > li > a {
        border-bottom: 1px solid #ffffff;
    }
    .megamenu > li:first-child a {
        border-top: 1px solid #ffffff;
    }
    .megamenu > li > .fa-caret-right, .megamenu .sub-categories > li > .fa-caret-right {
        border: 1px solid #0075C9;
        background: #ffffff;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #0075C9;
    }
    .megamenu .sub-categories, .megamenu .sub-categories .links {
        position: static;
        background: none;
        border: none;
    }
    .megamenu .sub-categories .links a {
        border-bottom: 1px solid #0075C9;
    }
    .megamenu .sub-categories .links li:last-child a {
        border-bottom: none;
    }
    .megamenu .sub-categories > li .links {
        outline: none;
        padding-left: 30px;
        padding-right: 50px;
    }
    .megamenu .sub-categories li > a {
        padding-left: 35px;
    }
    .megamenu .sub-categories .fa-caret-right {

    }
    .megamenu > li > a:hover:after {
        display: none;
    }
    .megamenu .sub-categories > li > a:hover {
        background: none;
    }


}

/**********************************************************************************************************************
********** banner
***********************************************************************************************************************/

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
}
.banner-title {
    width: calc(50% - 90px);
    background: #acd97f;
    position: relative;
    font-size: 36px;
    color: #ffffff;
    line-height: 1;
    padding: 5px 0 5px 20px;
}
.banner-title:after {
    content: '';
    width: 90px;
    background: inherit;
    position: absolute;
    top: -100%;
    bottom: -100%;
    right: -35px;
    border-right: 1px solid #ffffff;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}
.col-3 .content-block .banner-title {
    font-size: 24px;
}
.banner-title span {
    display: block;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: 'Century Gothic Bold', sans-serif;
    position: relative;
    z-index: 1;
}
.banner-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% + 90px);
    padding-left: 100px;
    background: #fd7e07;
}
.banner-discount {
    display: block;
    width: 47%;
    text-align: right;
    padding-right: 3%;
}
.banner-discount .text {
    display: inline-block;
    font-size: 34px;
    line-height: 1;
    color: #ffffff;
}
.banner-discount .text span {
    display: block;
    font-size: smaller;
    line-height: inherit;
    color: inherit;
}
.banner-discount .number {
    display: inline-block;
    font-size: 72px;
    font-family: 'Arial Bold', sans-serif;
    color: #ffffff;
    line-height: 1;
}
.banner-info {
    display: block;
    width: 50%;
    line-height: 1.2;
    color: #ffffff;
}

.col-2 .banner-title {
    font-size: 32px;
}
.col-2 .banner-details .banner-discount .text {
    font-size: 26px;
}
.col-2 .banner-details .banner-discount .number {
    font-size: 52px;
}


@media (min-width: 1280px) {
    .content-width-small .col-2 .banner, .col-3 .banner {
        flex-wrap: wrap;
    }
    .content-width-small .col-2 .banner-title, .content-width-small .col-2 .banner-details, .col-3 .banner-title, .col-3 .banner-details {
        width: 100%;
        padding: 15px;
    }
    .content-width-small .col-2 .banner-title, .col-3 .banner-title {
        text-align: center;
    }
    .content-width-small .col-2 .banner-title:after, .col-3 .banner-title:after {
        display: none;
    }
}
@media (max-width: 1280px) {
    .banner-title {
        font-size: 32px;
    }
    .banner-details .banner-discount .text {
        font-size: 26px;
    }
    .banner-details .banner-discount .number {
        font-size: 52px;
    }
}
@media (max-width: 980px) {
    .banner-title {
        font-size: 26px;
    }
    .banner-details .banner-discount {
        width: 40%;
    }
    .banner-details .banner-info {
        width: 57%;
        font-size: smaller;
    }
    .banner-details .banner-discount .text {
        font-size: 22px;
    }
    .banner-details .banner-discount .number {
        font-size: 42px;
    }
}
@media (max-width: 768px) {
    .banner {
        flex-wrap: wrap;
    }
    .banner-title, .banner-details {
        width: 100%;
        padding: 15px;
    }
    .banner-title {
        text-align: center;
    }
    .banner-title:after {
        display: none;
    }

}
@media (max-width: 480px) {
    .banner-details {
        flex-wrap: wrap;
    }
    .banner-discount,  .banner-info {
        width: 100%;
        padding: 5px;
}
    .banner-discount {
        text-align: center;
    }
    .banner-discount .text {
        text-align: right;
    }
}

/**********************************************************************************************************************
********** products
***********************************************************************************************************************/

/* products-1 */
.products-1 {
    text-align: center;
}
.products-1 .product-list {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.products-1 .product-list .product-card {
    margin: 20px 2% 20px 0;
    width: 32%;
    float: left;
}
.products-1 .product-list .product-card:nth-child(3n) {
    margin-right: 0;
}
.content-width-small .products-1 .product-list .product-card {
    width: 48.5%;
    margin-right: 3%;
}
.content-width-small .products-1 .product-list .product-card:nth-child(2n) {
    margin-right: 0;
}
.products-1 .product-card .image-wrap {
    width: 100%;
    padding-top: 70%;
}
.products-1 .product-card .product-info {
    position: relative;
}
.products-1 .product-card h3 {
    margin: 15px 0 10px;
}
.products-1 .product-card h3 a {
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products-1 .product-card h3 a:hover {
    color: #888888;
}
.products-1 .product-card .product-text {
    font-size: 1.1em;
    overflow: hidden;
    max-height: 7em;
}

@media (max-width: 980px) {
    .products-1 .product-list .product-card, .products-1 .product-list .product-card:nth-child(3n) {
        width: 48.5%;
        margin-right: 3%;
    }
    .products-1 .product-list .product-card:nth-child(2n) {
        margin-right: 0;
    }
    .products-1 .product-card h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .products-1 .product-list .product-card, .products-1 .product-list .product-card:nth-child(2n), .products-1 .product-list .product-card:nth-child(3n) {
        width: 100%;
    }
}



/* products-2 */
.products {
    text-align: center;
}
.products-2 .product-list {
    display: block;
    margin: 20px 0;
    text-align: left;
}
.products-2 .product-list .product-card {
    display: block;
    width: 48.5%;
    margin: 20px 3% 20px 0;
    float: left;
}
.products-2 .product-list .product-card:nth-child(2n) {
    margin-right: 0;
}
.content-width-small .products-2 .product-card {
    width: 100%;
}
.products-2 .product-card .image-wrap {
    width: 40%;
    padding-top: 45%;
    float: left;
}
.products-2 .product-card .product-info {
    position: relative;
    width: 55%;
    float: right;
}
.products-2 .product-card h3 {
    margin-bottom: 10px;
}
.products-2 .product-card h3 a {
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    text-transform: uppercase;
    max-height: 2.2em;
}
.products-2 .product-card h3 a:hover {
    color: #888888;
}
.products-2 .product-card .product-text {
    font-size: 1.1em;
    overflow: hidden;
    max-height: 7em;
}

@media (max-width: 768px) {
    .products-2 .product-list .product-card, .products-2 .product-list .product-card:nth-child(2n) {
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .products-2 .product-list .product-card {
        margin: 30px 0;
    }
    .products-2 .product-card .product-info {
        width: 100%;
    }
    .products-2 .product-card .image-wrap {
        width: 100%;
        padding-top: 110%;
    }
    .products-2 .product-card h3 {
        margin: 15px 0 10px;
    }
}


/* products-3 */
.products {
    text-align: center;
}
.products-3 .product-list {
    display: block;
    margin: 20px 0;
    text-align: left;
}
.products-3 .product-list .product-card {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}
.products-3 .product-card .image-wrap {
    width: 30%;
    padding-top: 20%;
    float: left;
}
.products-3 .product-card .product-info {
    position: relative;
    width: 63%;
    padding-bottom: 3em;
    float: right;
}
.products-3 .product-card h3 {
    margin-bottom: 10px;
}
.products-3 .product-card h3 a {
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
.products-3 .product-card h3 a:hover {
    color: #888888;
    text-decoration: underline;
}
.products-3 .product-card .product-text {
    font-size: 1.1em;
    overflow: hidden;
    max-height: 7em;
}
.products-3 .product-info .button {
    position: absolute;
    list-style-position: outside;
    left: 0;
    bottom: 0;
}

@media (max-width: 480px) {
    .products-3 .product-card .product-info {
        padding-bottom: 0;
        width: 100%;
    }
    .products-3 .product-card .image-wrap {
        width: 100%;
        padding-top: 65%;
    }
    .products-3 .product-info .button {
        position: static;
        margin-top: 20px;
    }
    .products-3 .product-card h3 {
        margin: 15px 0 10px;
    }
}



/* products-4 */
.products-4 {
    text-align: center;
}
.products-4 .product-list {
    display: block;
    margin: 20px 0;
}
.products-4 .product-card {
    margin: 20px 0;
    width: 25%;
    padding: 0 2.5%;
    float: left;
}
.content-width-small .products-4 .product-card {
    width: 30%;
}
.products-4 .product-card .image-wrap {
    width: 100%;
    padding-top: 75%;
}
.products-4 .product-card .product-info {
    position: relative;
    padding-bottom: 1em;
    border-bottom: 1px dashed #333333;
}
.products-4 .product-card h3 {
    margin: 15px 0 10px;
    font-family: 'Century Gothic Regular', sans-serif;
    font-size: 1.2em;
}
.products-4 .product-card h3 a {
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products-4 .product-card h3 a:hover {
    color: #888888;
}
.products-4 .product-card .product-text {
    font-size: 1.1em;
    overflow: hidden;
    max-height: 7em;
}

@media (max-width: 980px) {
    .products-4 .product-card {
        width: 33.333333%;
    }
}

@media (max-width: 768px) {
    .products-4 .product-card {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .products-4 .product-card {
        width: 100%;
    }
}

/**********************************************************************************************************************
********** menu
***********************************************************************************************************************/

.menu {
    margin-bottom: 50px;
}
.menu .title {
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu .title i {
    display: none;
}
.menu > ul > li {
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #333333;
}
.menu > ul > li:last-child {
    border-bottom :none;
}
.menu .sub-title {
    font-size: 1.3em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
}
.menu .sub-title:hover {
    color: #842a2a;
}
.menu > ul > li ul {
    display: none;
}
.menu > ul > li > ul li {
    display: block;
    margin-bottom: 10px;
    padding-left: 20px;
}
.menu > ul > li > ul li:last-child {
    margin-bottom: 15px;
}
.menu > ul > li > ul li a {
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
.menu > ul > li > ul li a:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background: #333333;
    position: absolute;
    top: 0.5em;
    left: -15px;
}

@media (max-width: 1280px) {
    .menu {
        margin: 20px 0;
    }
    .menu .title {
        display: inline-block;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .menu .title i {
        display: inline-block;
        font-size: smaller;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        padding-top: 5px;
    }
    .menu .sub-title {
        margin-bottom: 5px;
    }
}

/**********************************************************************************************************************
********** menu-chbx
***********************************************************************************************************************/

.menu-chbx {
    margin-bottom: 50px;
}
.menu-chbx .title {
    display: inline-block;
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.menu-chbx .title i {
    display: none;
    font-size: smaller;
    margin-left: 10px;
}
.form-menu-chbx {
    display: block;
    width: 100%;
}
.form-menu-chbx >  i {
    display: none;
}
.form-menu-chbx .sub-title {
    display: inline-block;
    font-family: 'Century Gothic Bold', sans-serif;
    font-size: 1.1em;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 10px;
}
.form-menu-chbx .sub-title i {
    font-size: 0.9em;
    margin-left: 5px;
}
.form-menu-chbx fieldset {
    display: block;
    width: 100%;
    border: none;
}
.form-menu-chbx fieldset .fields {
    display: none;
    padding-bottom: 20px;
}
.form-menu-chbx input[type='checkbox'] {
    display: none;
}
.form-menu-chbx label {
    display: block;
    list-style: none;
    font-size: 1.1em;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}
.form-menu-chbx label i {
    font-size: 1.1em;
    position: absolute;
    top: 0.2em;
    left: 0;
}
.form-menu-chbx label .fa-check-square-o {
    display: none;
}
input[type='checkbox']:checked + label .fa-square-o {
    display: none;
}
input[type='checkbox']:checked + label .fa-check-square-o {
    display: block;
}
.form-menu-chbx label span {
    font-size: 0.8em;
    margin-left: 5px;
    position: relative;
    top: -2px;
    opacity: 0.7;
}

.form-menu-chbx .show-more {
    cursor: pointer;
}
.form-menu-chbx .show-more span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.form-menu-chbx .show-more i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #333333;
    border-radius: 3px;
    padding-left: 2px;
}
.form-menu-chbx .show-more .enabled {
    display: none;
}
.form-menu-chbx .show-more.active .enabled {
    display: inline-block;
}
.form-menu-chbx .show-more.active .disabled {
    display: none;
}
.form-menu-chbx .show-more:hover span, .form-menu-chbx label:hover {
    color: #842a2a;
}
.form-menu-chbx .unpopular {
    display: none;
}

@media(max-width: 1280px) {
    .menu-chbx {
        margin-bottom: 20px;
    }
    .menu-chbx .title {
        cursor: pointer;
        margin-bottom: 0;
    }
    .menu-chbx .title i {
        display: inline-block;
        position: relative;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .menu-chbx .title:hover i {
        padding-left: 10px;
    }
    .form-menu-chbx {
        position: fixed;
        left: -350px;
        top: 0;
        bottom: 0;
        height: 100%;
        overflow: auto;
        width: 320px;
        background: #f3f3f3;
        z-index: 101;
        padding: 60px 20px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        -webkit-box-shadow: 15px 0 25px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 15px 0 25px -10px rgba(0,0,0,0.25);
        box-shadow: 15px 0 25px -10px rgba(0,0,0,0.25);
    }
    .form-menu-chbx.active {
        left: 0;
    }
    .form-menu-chbx > i {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 26px;
        padding-right: 3px;
        border-radius: 100%;
        border: 2px solid #000000;
        font-size: large;
        position: absolute;
        top: 30px;
        right: 30px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        cursor: pointer;
    }
    .form-menu-chbx > i:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**********************************************************************************************************************
********** text-block-1
***********************************************************************************************************************/

.text-block-1 .texts-list {
    display: block;
    margin: 20px 0;
}
.text-block-1 .texts-list .text-card {
    display: block;
    float: left;
    width: 48.5%;
    margin-right: 3%;
    margin-bottom: 40px;
}
.text-block-1 .texts-list .text-card:nth-child(2n) {
    margin-right: 0;
}
.text-block-1 .text-card .image-wrap {
    width: 110px;
    height: 110px;
    float: left;
    margin-bottom: 20px;
    margin-right: 35px;
}
.text-block-1 .text-card .text-info {
    width: calc(100% - 145px);
    min-width: 300px;
    float: left;
}
.text-block-1 .text-card .text {
    margin-bottom: 10px;
}
.text-block-1 .text-card .text p {
    margin-bottom: 10px;
    font-family: 'Calibri Italic', sans-serif;
    color: #888888;
}
.text-block-1 .text-card .tag {
    text-decoration: none;
}
.text-block-1 .text-card .tag i {
    margin-right: 10px;
    font-size: 1.3em;
}
.text-block-1 .text-card .tag span {
    font-family: 'Century Gothic Bold', sans-serif;
    text-transform: lowercase;
    font-size: 1.2em;
    color: inherit;
}
.text-block-1 .text-card .tag:hover {
    color: #888888;
}

.col-3 .content-block .text-block-1 .text-card,
.col-3 .content-block .text-block-1 .text-card:nth-child(2n) {
    width: 100%;
    margin-right: 0;
}

@media (max-width: 1280px) {

    .col-3 .content-block .text-block-1 .text-card,
    .col-3 .content-block .text-block-1 .texts-list .text-card:nth-child(2n) {
        width: 48.5%;
        margin-right: 3%;
    }
    .col-3 .content-block .text-block-1 .texts-list .text-card:nth-child(2n) {
        margin-right: 0;
    }

}


@media (max-width: 768px) {
    .col-3 .content-block .text-block-1 .text-card,
    .col-3 .content-block .text-block-1 .texts-list .text-card:nth-child(2n) {
        width: 100%;
        margin-right: 0;
    }
    .text-block-1 .texts-list .text-card, .text-block-1 .texts-list .text-card:nth-child(2n) {
        width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .text-block-1 .text-card {
        margin: 20px 0;
    }
    .text-block-1 .text-card .text-info {
        width: 100%;
        margin-top: 15px;
    }
}

/**********************************************************************************************************************
********** text-block-2
***********************************************************************************************************************/

.text-block-2 .text-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}
.text-block-2 .text {
    width: 65%;
}
.text-block-2 blockquote {
    display: block;
    width: 30%;
    padding: 3%;
    background: #e5eef5;
    border-radius: 10px;
}
.text-block-2 h3 {
    color: #0664a1;
    margin-bottom: 15px;
}
.text-block-2 h4 {
    margin-bottom: 25px;
}
.text-block-2 p {
    margin: 20px 0;
}

.col-3 .content-block .text-block-2 .text,
.col-3 .content-block .text-block-2 blockquote {
    width: 100%;
}

@media (max-width: 768px) {
    .text-block-2 .text, .text-block-2 blockquote {
        width: 100%;
    }
}

/**********************************************************************************************************************
********** text-block-3
***********************************************************************************************************************/

.text-block-3 .texts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}
.text-block-3 .text-card {
    width: 31%;
    margin: 10px 0;
}
.text-block-3 h3 a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}
.text-block-3 h3 a:hover {
    color: #888888;
}
.text-block-3 p {
    font-size: 1.1em;
    margin: 20px 0;
}

.col-3 .content-block .text-block-3 .text-card {
    width: 100%;
}

@media (max-width: 768px) {
    .text-block-3 .text-card {
        width: 100%;
    }
}

/**********************************************************************************************************************
********** text-block-4
***********************************************************************************************************************/

.text-block-4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-block-4 h2 {
    display: block;
    width: 100%;
}
.text-block-4 .texts-list {
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}
.text-block-4 blockquote {
    display: block;
    width: 25%;
    margin: 20px 0;
}
.text-block-4 blockquote p {
    color: #888888;
    font-family: 'Calibri Italic', sans-serif;
    font-size: 1.1em;
}
.text-block-4 .text-card {
    width: 48%;
    margin: 20px 0;
}
.text-block-4 .text-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #888888;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.text-block-4 .image-wrap {
    width: 80px;
    height: 80px;
}
.text-block-4 h3 {
    display: block;
    width: calc(100% - 100px);
    line-height: 1;
}

.col-3 .content-block .text-block-4 .texts-list,
.col-3 .content-block .text-block-4 blockquote {
    width: 100%;
    margin: 10px 0;
}

.content-width-small .col-3 .content-block .text-block-4 .text-card {
    width: 100%;
}

@media (max-width: 980px) {
    .text-block-4 .text-card {
        width: 100%;
    }
    .text-block-4 .text-info {
        align-items: center;
    }

}
@media (max-width: 768px) {
    .text-block-4 .texts-list, .text-block-4 blockquote {
        width: 100%;
    }
}